* {
    margin: 0;
    padding: 0;
}body {
   background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    padding: 7px 20px 7px 0;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
}

ul {
    display: flex;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    background-color: black;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #acb3ea;
    font-weight: 500;
    transition: all .1s ease-in-out;
}

nav h3 {
    color: #778DA9;
        align-items: center;
}

.cont{
    background-color: #1b2c40;
    border-radius: 15px;
    box-shadow: inset 0px 0px 20px #3c6a9c;
    display: flow-root;
    margin: 20px;
}

.cont:hover{
    box-shadow: inset 0px 0px 20px #092d53;
}

.im{
    display: flex;
}
.im img{
   border-radius: 10px;
   align-items: center;
   width: 360px;
   margin: 25px;
}

.main{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.field{
    font-size: 25px;
    margin: 0 30px 0 30px;
    color: #98c4f9;
    font-weight: 700;
}

.details,.certi{
    margin: 30px;
    font-size: 20px;
}

.certi a{
    text-decoration: none;
    color:#B398D2;
    font-weight: 600;
}

.certi a:hover{
    color: #8c9ed5;
}

@media only screen and (max-width:400px)
{
    .main{
        display: grid;
        grid-template-columns: 1fr;
        }

    .cont{
        display: flow-root;
        width: 80vw;
        margin-left: 10vw;
        padding-bottom: 30px;
    }

    .im img{
        width: 60vw;
        margin: 10vw;
    }

    .field{
        font-size: 25px;
        margin: 0 0 0 10vw;
        color: #98c4f9;
        font-weight: 700;
    }

    .details,.certi{
        margin: 25px 0 0 10vw;
        font-size: 20px;
    }
}