#svg {
    display: none;
}

.dis {
    display: none;
    transition: all 0.5s ease-in-out;
}

h3 a {
    text-decoration: none;
    color: #778DA7;
}

.divider {
    height: 5px;
    width: 100%;
    background-color: #0e377d;
}

@media only screen and (max-width:620px) {
    #nav1 ul {
        display: none;
    }

    #nav1 {
        padding: 5px;
        height: 30px;
    }

    #nav1 #svg {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: 50%;
    }

    .init {
        margin-top: 0;
        padding-top: 30px;
        width: 80vw;
    }

    .homepage {
        display: block;
        margin-top: 0;
    }

    .links ul li a img {
        height: 50px;
    }

    .intro {
        font-size: 30px;
        margin-top: 45px;
        width: 80vw;
    }

    #heading {
        font-size: 35px;
    }

    #devlog {
        height: 50vw;
        margin-top: 30px;
    }

    #selfi {
        height: 275px;
        margin-left: 2%;
    }

    #maina {
        display: block;
    }

    .abcon {
        margin-left: 4%;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .name {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    .footer {
        display: flow-root;
        margin: 0;
    }

    .form{
        display: flex;
        justify-content: center;
    }

    .tog ul {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 18px;
        padding: 5px;
        font-weight: 600;
        margin-top: 25vh;
        grid-gap: 12px;
        justify-items: center;
    }

    .tog ul li{
        border:2px solid #778DA7;
        width: 150px;
        border-radius: 5px;
    }

    .tog ul li a{
        text-align: center;
        color: black;
        padding-left: 25px;
        transition: all 0.5s ease-in-out;
    }

    .tog {
        background-color:aliceblue;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        height: 100vh;
        margin: 40px 0px 0px 0px;
        width: 60vw;
        animation: togList .6s linear ;
    }

    @keyframes togList {
        from{
           opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}