* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}

li {
    padding: 7px 20px 7px 0;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
}

ul {
    display: flex;
}

#nav1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    background-color: black;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #acb3ea;
    font-weight: 500;
    transition: all .1s ease-in-out;
}

nav h3 {
    color: #778DA9;
    align-items: center;
}

.init {
    margin-left: 12%;
    margin-top: 70px;
    font-size: 30px;
    color: #E0E1DD;
}

.intro {
    margin-left: 12%;
    margin-top: 70px;
    font-size: 50px;
}

.homepage {
    display: flex;
    background-color: black;
    padding-bottom: 50px;
}

#devlog {
    margin-top: 80px;
    margin-right: 120px;
}

#hhh {
    width: 60%;
}

#purple {
    color: #778DA9;
    font-weight: 600;
}

.location {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 0;
}

.odet {
    margin-top: 50px;
    margin-left: 12%;
    gap: 5px;
    font-size: 22px;
}

.links ul li a img {
    height: 70px;
    border-radius: 50%;
    box-shadow: 8px 4px 10px #778DA9;
}

.links ul li a img:hover {
    box-shadow: 8px 4px 10px #2c5995;
}

.links {
    margin-left: 12%;
    margin-top: 30px;
}

.AboutMe {
    background-color: #07182a;
    padding-bottom: 60px;
}

h3 a {
    text-decoration: none;
    color: #778DA9;
}

#maina {
    padding-top: 15px;
    text-align: center;
    display: flex;
}


#heading {
    padding-top: 15px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 5px 5px blue;
}

#selfi {
    margin-left: 50%;
    margin-top: 30px;
    height: 450px;
    box-shadow: 19px 20px 0px grey;
}

.abcon {
    margin-left: 320px;
    margin-top: 90px;
}


.name {
    text-align: left;
    font-size: 40px;
    color: #38a3a5;
    font-weight: 600;
}

.h2 {
    text-align: left;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 25px;
}

.justify-content-center {
    text-align: center;
}

.btn {
    background-color: rgb(95, 135, 35);
    border-radius: 20px;
    padding: 2px 10px 2px 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.btn:hover {
    background-color: #071423;
    color: #acb3ea;
    border: 2px solid green;
}

.ftco-section {
    background-size: cover;
    background: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .85;
    height: 160px;
}

.footer {
    background-color: #778DA9;
    display: flex;
    color: #001d3d;
    font-weight: 530;
}

.left {
    margin-left: 8%;
    margin-top: 30px;
    font-size: 22px;
    margin-bottom: 30px;
}

.right {
    margin-left: 8%;
    margin-top: 25px;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 30px;
}

.rd {
    display: flex;
    align-items: center;
}

.rd a {
    text-decoration: none;
    color: #001d3d;
}

.cnt {
    background-color: #364141;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    background-color: #d4d7f2;
    margin: 5px 0px 25px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    width: 30vw;
}

.cnt h1 {
    text-shadow: 0px 2px 5px #939bd8;
    text-align: center;
}

.hvr:hover {
    border: 3px solid #2c5995;
    border-radius: 5px;
    padding: 2px;
}

.wrap-input-1 .input:focus {
    outline: none;
}

.wrap-input-1 {
    width: 250px;
    margin: 5px;
    position: relative;
}

.wrap-input-1 .input {
    border: 0;
    color: #07182a;
    padding: 7px 0 7px 7px;
    border-bottom: 1px solid #535151;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: transparent;
}

.wrap-input-1 .input~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:
        #1b1448;
    transition: 0.4s;
}

.wrap-input-1 .input:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
}

.btn-84 {
    background-color: transparent;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #061b35;
    border-color: #2c5995;
    box-shadow: 1px 1px 2px #001d3d;
}

@media screen and (max-width:400px) {
    .cnt {
        background-color: #3e4d4d;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact {
        background-color: #d4d7f2;
        margin: 5px 0px 25px 0vw;
        display: inline-block;
        padding: 10px;
        border-radius: 5px;
        min-width: 270px;
    }
}