* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
}

li{
    padding: 7px 20px 7px 0;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
}

ul {
    display: flex;
}

#nav1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    left: 0;
    top: 0;
    background-color: black;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #acb3ea;
    font-weight: 500;
    transition: all .1s ease-in-out;
}

nav h3 {
    color: #778DA9;
        align-items: center;
}

.divider {
    height: 5px;
    width: 100%;
    background-color: #0e377d;
}

.init {
    margin-left: 12%;
    margin-top: 70px;
    font-size: 30px;
    color: #E0E1DD;
}

.intro {
    margin-left: 12%;
    margin-top: 70px;
    font-size: 50px;
}

.homepage {
    display: flex;
    background-color: black;
    padding-bottom: 50px;
}

#devlog {
    margin-top: 80px;
    margin-right: 120px;
}

#hhh {
    width: 60%;
}

#purple {
    color: #778DA9;
    font-weight: 600;
}

.location {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 0;
}

.odet{
    margin-top: 50px;
    margin-left: 12%;
    gap: 5px;
    font-size: 22px;
}

.links ul li a img{
    height: 70px;
    border-radius: 50%;
    box-shadow: 8px 4px 10px #778DA9;
}

.links{
    margin-left: 12%;
    margin-top: 30px;
}

.AboutMe{
    background-color: #07182a;
    padding-bottom: 60px;
}

#maina{
    padding-top: 15px;
    text-align: center;
    display: flex;
}


#heading{
padding-top: 15px;
text-align: center;
font-size: 50px;
font-weight: 600;
text-shadow: 2px 5px 5px blue;
}

#selfi{
    margin-left: 50%;
    margin-top: 30px;
    height:450px;
    box-shadow: 19px 20px 0px grey;
}

.abcon{
    margin-left: 320px;
    margin-top: 90px;
}

.name{
    text-align: left;
    font-size: 40px;
    color: #38a3a5;
    font-weight: 600;
}

.h2{
    text-align: left;
}

h2{
    font-size: 35px;
}

p{
    font-size: 25px;
}

.footer{
    background-color: #778DA9;
    display: flex;
    color: #001d3d;
    font-weight: 530;
}

.left{
    margin-left: 8%;
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 30px;
}

.right{
    margin-left: 8%;
    margin-top: 25px;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 30px;
}

.rd{
    display: flex;
    align-items: center;
}

.rd a{
    text-decoration: none;
    color: #001d3d;
}

#svg{
    display: none;
}

.dis{
    display: none;
    transition: all 0.5s ease-in-out;
}

@media only screen and (max-width:500px)
{
    #nav1 ul{
        display: none;
    }

    #nav1{
        padding: 5px;
        height: 60px;
    }
    #nav1 #svg{
        cursor: pointer;
        display:flex;
        align-items: center;
        margin-left: 50%;
    }

    .init{
        margin-top: 0;
        padding-top: 30px;
    }
    .homepage{
        display: block;
        margin-top: 0;
    }

    .links ul li a img{
        height: 50px;
    }

    .intro{
        font-size: 30px;
        margin-top: 45px;
    }

    #heading{
        font-size: 35px;
    }

    #devlog{
        height: 50vw;
        margin-top: 30px;
    }

    #selfi{
        height: 275px;
        margin-left: 2%;
    }

    #maina{
        display: block;
    }

    .abcon{
        margin-left: 4%;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    .name{
        font-size: 35px;
    }

    h2{
        font-size: 25px;
    }

    p{
        font-size: 20px;
    }

    .footer{
        display:flow-root;
        margin: 0;
    }

    .left , .right{
        font-size: 20px;
    }

    .left{
        margin-top: 20px;
        margin-left: 3%;
    }

    .right{
        margin-left: 1%;
        margin-top:-17px;
    }

    .tog ul{
        display: flow-root;
        font-size: 18px;
        padding: 5px;
        font-weight: 600;
        color: beige;
        
        transition: all 0.5s ease-in-out;
    }
    .tog ul li a:hover {
        color: #acb3ea;
        font-weight: 500;
    }

    .tog{
        background-color: #193c3f;
        position:fixed;
        z-index: 1;
        right: 0px;
        top: 45px;
        margin: 10px 20px 5px ;
        border-radius: 15px;
        box-shadow: 5px 5px 7px #001d3d;
        width: 35vw;
        transition: all 0.5s ease-in-out;
    }
}